src/main/mule/scheduler-regular.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="scheduler-regularFlow" doc:id="bef03ac2-74c4-4f36-8892-084a9fedeab4" >
		<scheduler doc:name="Scheduler" doc:id="d1e8d8f8-8281-4996-8956-6293996f2222" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="d004f443-6d81-4aa4-b6d8-cc581a4554b0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'Triggered at': now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="19780d15-91a2-4d05-8f01-928ed20a07db" path="C:\Mulesoft\DataUsed\scheduler_regular_frequency.json" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="1d8ea144-5898-4b73-a918-ffba7b3cce62" message="Triggered at #[now()]"/>
	</flow>
</mule>
